<%= form_with model: model, url: registrations_abilities_path, method: :put, class: "mt-4" do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <div id="abilities">
    <%= form.fields_for :abilities do |ability| %>
      <%= render "registrations/abilities/ability_fields", f: ability %>
    <% end %>
    <div>
      <%= link_to_add_association '＋追加する', form, :abilities, data: { association_insertion_method: 'before' }, class: "block mt-4 py-2 text-primary text-base sm:text-xl font-bold" %>
    </div>
  </div>

  <%= render "registrations/shared/buttons", form: form, path: registrations_user_skills_path %>

<% end %>