<h1>メッセージ相手：<%= @user.name %></h1>
<h1>ログインユーザー：<%= current_user.name %></h1>

<% @receive_messages.each do |message| %>
<p><%= message.receive_user.name %>,<%= message.content %></p>
<% end %>

<% @send_messages.each do |message| %>
<p><%= message.send_user.name %>,<%= message.content %></p>
<% end %>

<%= form_with model: @message, url: user_messages_path(user_id: @user.id) do |form| %>

  <div class="field">
    <%= form.label :content %><br />
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "送信する" %>
  </div>

<% end %>