<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_area :profile %>
  </div>

  <div class="field">
    <%= f.fields_for :user_skills do |form| %>
      <%= form.select :skill_id, Skill.all.pluck(:name,:id), {include_blank: 'スキル'} %><br />
      <%= form.select :experience_year, [['1年未満', 0],['1年', 1], ['2年', 2], ['3年', 3], ['4年', 4],['5年以上', 5]],  {include_blank: '経験年数'} %><br />
      <%= form.select :level,  [['1', 1], ['2', 2], ['3', 3], ['4', 4],['5', 5]],  {include_blank: 'レベル'} %><br />
    <% end %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
