<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/form" %>
  <%= javascript_pack_tag "utilities/text" %>
  <%= javascript_pack_tag "utilities/button" %>
<% end %>

<div class="sm:mt-5 sm:px-8 max-w-sm mx-auto">

  <h1 class="h1_text my-8">会員登録</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "mt-3 py-6"}) do |f| %>
    <%= render "shared/error_messages", model: resource %>

  <div class="space-y-4 my-6">

    <div>
      <%= f.label :name, "名前", class: "font-bold block" %>
      <%= f.text_field :name, autofocus: true, class: "text_field block w-full mt-4", placeholder: "名前"  %>
    </div>

    <div>
      <%= f.label :email, "メールアドレス", class: "font-bold block" %>
      <%= f.email_field :email, autocomplete: "email", class: "text_field block w-full mt-4", placeholder: "メールアドレス" %>
    </div>

    <div>
      <%= f.label :password, "パスワード", class: "font-bold block" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "text_field block w-full mt-4", placeholder: "#{@minimum_password_length}文字以上でご入力ください" %>
    </div>

    <div>
      <%= f.label :password_confirmation, "パスワード（確認用）", class: "font-bold block" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text_field block w-full mt-4", placeholder: "再度パスワードをご入力ください" %>
    </div>

  </div>

    <div>
      <%= f.submit "登録する" , class: "button_main" %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= render "devise/shared/links", button_name: "登録" %>
  </div>

</div>