<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%#- resource_class.omniauth_providers.each do |provider| %>

  <div class="mt-2 space-y-4">
    <%= link_to omniauth_authorize_path(:user, :facebook), method: :post ,class: "flex px-3.5 sm:px-5 py-2 sm:py-1.5 bg-facebook text-white sm:text-base rounded-3xl sm:rounded-3xl font-medium leading-4 w-full justify-center items-center" do %>
      <%= image_tag 'facebook.svg', class: "" %><span>Facebookで登録</span>
    <% end %>

    <%= link_to omniauth_authorize_path(:user, :twitter), method: :post ,class: "flex px-3.5 sm:px-5 py-2 sm:py-1.5 bg-twitter text-white sm:text-base rounded-3xl sm:rounded-3xl font-medium leading-4 w-full justify-center items-center" do %>
      <%= image_tag 'twitter.svg', class: "" %><span>Twitterで登録</span>
    <% end %>
  <div>
  <%# end %>
<% end %>
