<%= form_with model: model, url: registrations_portfolios_path, method: :put, class: "mt-4" do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <div id="portfolios">
    <%= form.fields_for :portfolios do |portfolio| %>
      <%= render "registrations/portfolios/portfolio_fields", f: portfolio %>
    <% end %>
    <div>
      <%= link_to_add_association '＋追加する', form, :portfolios, data: { association_insertion_method: 'before' }, class: "button_add_form" %>
    </div>
  </div>

  <%= render "registrations/shared/buttons", form: form, path: registrations_careers_path %>

<% end %>