<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/form" %>
  <%= javascript_pack_tag "utilities/text" %>
  <%= javascript_pack_tag "utilities/button" %>
<% end %>

<div class="sm:px-8">

  <%= render "registrations/shared/coach_registration_title", registration_complete_rate: @registration_complete_rate %>

  <h2 class="h2_text mt-6 sm:mt-8">プロフィール</h2>

  <%= form_with model: @user, url: registrations_profile_path, method: :put, class: "mt-4" do |form|  %>

    <%= form.text_area :profile , rows: 10 , placeholder: "プロフィールを入力（400文字以内）", class: "text_field w-full" %>

    <%= render "registrations/shared/buttons", form: form, path: registrations_image_path %>

  <% end %>


</div>