<%= form_with model: @user, url: user_want_skills_path, method: :post do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <h2>教えてもらいたいスキル</h2>
  <p>コーチに教えてもらいたいことは何ですか？</p>
  <p>複数選択可</p>

  <div class="field">

    <% @skill_categories.each do |skill_category| %>
      <h3><%= skill_category[:title] %></h3>
      <%= form.collection_check_boxes :want_skills, skill_category[:skills], :id, :name %>
    <% end %>

  </div>

  <div class="actions">
    <%= form.submit "次へ" %>
  </div>

<% end %>