<%= form_with model: [:mypage, @user_skill]  do |form| %>

  <div class="field">
    <%= form.label :skill_id %><br />
    <%= form.select :skill_id,Skill.all.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :experience_year %><br />
    <%= form.number_field :experience_year %>
  </div>

  <div class="field">
    <%= form.label :level %><br />
    <%= form.number_field :level %>
  </div>


  <div class="actions">
    <%= form.submit "更新する" %>
  </div>

<% end %>