<%= form_with model: [@user_skill] ,url:mypage_user_skill_path do |form| %>

  <div class="field">
    <%= form.label :skill_id %><br />
    <%= form.number_field :skill_id, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :experience_year %><br />
    <%= form.number_field :experience_year %>
  </div>

  <div class="field">
    <%= form.label :level %><br />
    <%= form.number_field :level %>
  </div>


  <div class="actions">
    <%= form.submit "更新する" %>
  </div>

<% end %>