<footer class="bg-gray-700 text-white py-8 sm:pt-16 sm:pb-32 px-5 sm:pl-32 space-y-8 sm:space-y-0 sm:space-x-4 text-sm sm:flex mt-8 sm:mt-20">

  <div class="space-y-4 w-40">
    <p><%= link_to "お知らせ", new_user_session_path %></p>
    <p class=""><%= link_to "お問い合わせ", new_user_registration_path %></p>
  </div>

  <div class="space-y-4 w-40">
    <p><%= link_to "IT Coachとは", new_user_session_path %></p>
    <p class=""><%= link_to "ITコーチになる", about_coach_path %></p>
  </div>

  <div class="space-y-4 w-40">
    <p><%= link_to "運営会社", new_user_session_path %></p>
    <p class=""><%= link_to "プライバシーポリシー", new_user_registration_path %></p>
    <p class=""><%= link_to "利用規約", new_user_registration_path %></p>
    <p class=""><%= link_to "特定商取引に基づく表記", new_user_registration_path %></p>
  </div>

</footer>