<header class="flex justify-between my-5 sm:mx-10 sm:my-6">

  <div>
    <%= link_to image_tag('logo.png'), root_path %>
  </div>

  <div>
  <% if user_signed_in? %>
    <div class="flex space-x-2 sm:space-x-4">
      <%= link_to image_tag('search.png'), root_path %>
      <%= link_to image_tag('message.png'), rooms_path %>
      <%= link_to image_tag('alert.png') , notifications_path %>
      <%= link_to image_tag('menu.png'), menu_path %>
    </div>
  <% else %>

    <div class="flex space-x-2 sm:space-x-4">
      <%= link_to "ログイン", new_user_session_path, class: "p-2 border sm:border-2 border-red-500 rounded-full text-sm" %>
      <%= link_to "会員登録", new_user_registration_path %>
    </div>

  <% end %>

  </div>

</header>