<%= form_with model: model, url: registrations_user_skills_path, method: :put, class: "mt-4" do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <div id="user_skills">

    <%= form.fields_for :user_skills do |user_skill| %>
      <%= render "registrations/user_skills/user_skill_fields", f: user_skill %>
    <% end %>
    <div>
      <%= link_to_add_association '＋追加する', form, :user_skills, data: { association_insertion_method: 'before' }, class: "button_add_form" %>
    </div>
  </div>

  <%= render "registrations/shared/buttons", form: form, path: registrations_profile_path %>

<% end %>