<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/form" %>
  <%= javascript_pack_tag "utilities/text" %>
<% end %>

<div class="sm:px-8">

  <%= render "registrations/shared/coach_registration_title", registration_complete_rate: @registration_complete_rate %>

  <h2>スキル</h2>
  <%= render "registrations/user_skills/form", model: @user %>

  <%= link_to "戻る", registrations_profile_path %>

</div>