<%= form_with model: @user, url: mypage_path do |form| %>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name, autofocus: true %>
  </div>

  <% if @user.image.attached? %>
    <%= image_tag @user.image %>
  <% else %>
    <%= image_tag "logomark.png" %>
  <% end %>

  <%= form.file_field :image %>

  <div class="field">
    <%= form.label :profile %><br />
    <%= form.text_area :profile %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
  </div>

<% end %>

<%= link_to "スキルを新規作成",new_mypage_user_skill_path %><br>
