<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>Name <%= @user.name %></p>

<% if @user.image.attached? %>
  <%= image_tag @user.image %>
<% else %>
  <%= image_tag "logomark.png" %>
<% end %>


<h2>プロフィール</h2>
<%= @user.profile %><br>
<%= link_to "プロフィールを編集する",edit_mypage_profile_path %><br>

<% if @coach %>

<h2>プラン</h2>
<% @coach.plans.each do |plan| %>
  <%= link_to plan.title,edit_coach_plan_path(coach_id: @coach.id, id: plan.id) %><br>
  <%= plan.communication_style.name %><br>
  <%= plan.term.name %><br>
  <%= plan.fee %><br>
<% end %>
<%= link_to "プランを新規作成",new_coach_plan_path(coach_id: @coach.id) %><br>

<% end %>

<h2>スキル</h2>

<% @user.user_skills.each do |user_skill| %>
  <%= link_to user_skill.skill.name,edit_mypage_user_skill_path(user_id: @user.id, id: user_skill.id) %><br>
  <%= user_skill.experience_year %>年<br>
  <%= user_skill.level %><br>
<% end %>
<%= link_to "スキルを新規作成",new_mypage_user_skill_path %><br>

<% if @coach %>

<h2>キャリア</h2>
<% @coach.careers.each do |career| %>
  <%= link_to career.organization,edit_coach_career_path(coach_id: @coach.id, id: career.id) %><br>
  <%= career.role %><br>
  <%= career.start_month %> 〜　<%= career.end_month %><br>
<% end %>
<%= link_to "キャリアを新規作成",new_coach_career_path(coach_id: @coach.id) %><br>

<h2>ポートフォリオ</h2>
<% @coach.portfolios.each do |portfolio| %>
  <%= link_to portfolio.title,edit_coach_portfolio_path(coach_id: @coach.id, id: portfolio.id) %><br>
  <%= link_to portfolio.url, portfolio.url %><br>
<% end %>
<%= link_to "ポートフォリオを新規作成",new_coach_portfolio_path(coach_id: @coach.id) %><br>

<h2>コーチ審査ステータス</h2>
<%= @coach.examination_status.name %><br>
<%= @coach.examination_status.comment %>


<h2>ログアウト</h2>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>

<% end %>
