<div class="nested-fields">
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :start_month %><br />
    <%= f.date_select :start_month ,discard_day: true, start_year: 2000,  end_year: Time.zone.today.year, use_month_numbers: true  %>
  </div>

  <div class="field">
    <%= f.label :end_month %><br />
    <%= f.date_select :end_month ,discard_day: true, start_year: 2000,  end_year: Time.zone.today.year, use_month_numbers: true %>
  </div>

   <div class="field">
     <%= f.label :ongoing %><br />
     <%= f.check_box :ongoing %>
  </div>

  <%= link_to_remove_association "削除", f %>
</div>