<div class="nested-fields my-4 sm:my-8 border-borderGray border-b">

  <div class="flex justify-between">
    <h3 class="form_label">職歴</h3>
    <%= link_to_remove_association "✕", f, class: "block ml-2 text-primary text-base sm:text-xl font-bold" %>
  </div>

  <div class="mt-4 space-y-2 sm:space-y-4">

    <div>
      <%= f.text_field :organization, class: "text_field w-full", placeholder: "所属" %>
    </div>

    <div>
      <%= f.text_field :role, class: "text_field w-full", placeholder: "役割" %>
    </div>

    <div class="flex justify-between">
      <div>
        <%= f.date_select :start_month ,discard_day: true, start_year: 2000,  end_year: Time.zone.today.year, use_month_numbers: true, class: "border border-baseGray w-full"  %>
      </div>
      <span class="">〜</span>
      <div>
        <%= f.date_select :end_month ,discard_day: true, start_year: 2000,  end_year: Time.zone.today.year, use_month_numbers: true, class: "w-full" %>
      </div>
    </div>

    <div>
      <%= f.label :現在 %><br />
      <%= f.check_box :ongoing %>
    </div>

  </div>

</div>