<%= form_with model: model, url: registrations_careers_path, method: :put do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <div id="careers">
    <%= link_to_add_association '追加する', form, :careers, data: { association_insertion_method: 'append' } %>
    <%= form.fields_for :careers do |career| %>
     <%= render "registrations/careers/career_fields", f: career %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "保存して次へ" %>
  </div>

<% end %>