<h1>Coaches#show</h1>
<p>Find me in app/views/coaches/show.html.erb</p>
<p> <%= @coach.user.name %></p>

<h2>プラン</h2>
<% @coach.plans.each do |plan| %>
  <%= link_to plan.title,edit_coach_plan_path(coach_id: @coach.id, plan_id: plan.id) %><br>
  <%= plan.communication_style %><br>
  <%= plan.fee %><br>

<% end %>

<%= link_to "新規作成",new_coach_plan_path(coach_id: @coach.id) %><br>