<h2>ルーム</h2>

<% @messages.each do |message| %>

  <p>メッセージ：<%= message.content %></p>
  <p>送信者：<%= message.user.name %></p>
  <p>送信日時：<%= message.created_at %></p>

  <p><%= "既読" if message.read && message.user == current_user  %></p>

<% end %>

<%= form_with model: @message, url: room_messages_path(room_id: @room.id) do |form| %>

  <%= render 'shared/error_messages', model: form.object %>

  <div class="field">
    <%= form.label :content %><br />
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "送信する" %>
  </div>


<% end %>