<%= form_with model: [current_user.coach,@plan] do |form| %>

  <div class="field">
    <%= form.label :title %><br />
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :term_id %><br />
    <%= form.select :term_id, Term.all.pluck(:name,:id) %>
  </div>

  <div class="field">
    <%= form.label :communication_style_id %><br />
    <%= form.select :communication_style_id, CommunicationStyle.all.pluck(:name,:id) %>
  </div>

  <div class="field">
    <%= form.label :fee %><br />
    <%= form.number_field :fee %>
  </div>
  <%# 手数料についてはactive hashで実施予定（スタイルと連動）#%>

  <div class="field">
    <%= form.label :target %><br />
    <%= form.text_field :target %>
  </div>

  <div class="field">
    <%= form.label :content %><br />
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :published %><br />
    <%= form.check_box :published %>
  </div>

  <div class="actions">
    <%= form.submit "Create" %>
  </div>

<% end %>