<%= form_with model: @user, url: registrations_image_path, method: :put do |form| %>

  <% if @user.image.attached? %>
    <%= image_tag @user.image %>
  <% else %>
    <%= image_tag "default_icon.png" %>
  <% end %>

  <%= form.file_field :image %>

  <div class="actions">
    <%= form.submit "次へ" %>
  </div>

<% end %>