<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/form" %>
  <%= javascript_pack_tag "utilities/text" %>
  <%= javascript_pack_tag "utilities/button" %>
  <%= javascript_pack_tag "features/registrations/images/show" %>
<% end %>

<div class="sm:px-8">

  <%= render "registrations/shared/coach_registration_title", registration_complete_rate: @registration_complete_rate %>

  <h2 class="h2_text">プロフィール画像</h2>

  <%= react_component("Image", props: {imageUrl: url_for(@user.image)}) %>

</div>