<h1>コーチになる</h1>

<%= render "registrations/shared/registration_complete_rate", registration_complete_rate: @registration_complete_rate %>

<h2>プロフィール画像</h2>

<%= form_with model: @user, url: registrations_image_path, method: :put do |form| %>

  <%= form.hidden_field :id %>

  <% if @user.image.attached? %>
    <%= image_tag @user.image.variant(resize: "100x100") %>
  <% else %>
    <%= image_tag "default_icon.png" %>
  <% end %>

  <%= form.file_field :image %>

  <div class="actions">
    <%= form.submit "保存して次へ" %>
  </div>

<% end %>