<h1>パスワード変更</h1>

<%= form_with model: @user, url: reset_password_path, method: :put do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <%= f.label :password, "新しいパスワード" %>

  <%= f.password_field :password, placeholder: "新しいパスワード" %>

  <%= f.label :password_confirmation, "新しいパスワード（確認）" %>

  <%= f.password_field :password_confirmation, placeholder: "新しいパスワード（確認）" %>

  <%= f.submit '送信する' %>

<% end %>