<!DOCTYPE html>
<html>
  <head>
    <title>ItCoach</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>

    <%= render "shared/header" %>

    <div class="mx-5 mt-16 sm:mx-0 sm:mt-20">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>
